
.dropdown{
    text-align: end;
    box-shadow: 0px 16px 32px 0px rgba(221, 230, 237, 0.54);
    font-size: 14px;
    line-height: 18.24px;
    font-weight: 500;
    color: var(--dark-color);
    width: 255px;
    height: 36px;
}
.dropdown-toggle::after {
  margin-left: 125px;
  margin-right: 10px;
  right: 10px;
  top: 4px;
  position: relative;
}
.main-search::before{
  content: 'Sort by:';
  top: 8px;
  right: 8px;
  bottom: 8px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  font-family:"Hanken Grotesk", sans-serif ;
}
.dd-span{
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .page-link {
    color: #007bff;
    cursor: pointer;
  }
  
  .page-link:hover {
    text-decoration: none;
    background-color: #e9ecef;
  }
  